<phpunit bootstrap="bootstrap.php" colors="true" verbose="true">
	<testsuites>
		<testsuite name="Nest Test Suite">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory>vendor/</directory>
		</blacklist>
	</filter>

	<logging>
		<log type="coverage-html" target="reports/coverage" charset="utf-8" />
	</logging>
</phpunit>