<phpunit bootstrap="bootstrap.php" colors="true" verbose="true">
	<testsuites>
		<testsuite name="Nest Test Suite">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory suffix=".php">tests/</directory>
			<file>classes/Markdown.php</file>
			<file>classes/Mustache.php</file>
			<file>classes/SplClassLoader.php</file>
			<file>classes/Textile.php</file>
		</blacklist>
	</filter>

	<logging>
		<log type="coverage-html" target="reports/coverage" charset="utf-8" />
	</logging>
</phpunit>